h1{
   color: teal;
   font-size: 24px;
font-style: italic;
font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
text-align: center;

}
.intro{
 color: darkblue;
 font-style: italic;
font-family: monospace;

}
